<template id="simple-component">
  <div :id="id + '-' + color" @click="handleClick">
    Text content should be <b>{{color === 'red' ? 'blue' : 'red'}}</b> and {{color}}
    <p>{{user?.name}}</p>
  </div>
</template>

<script>
  class SimpleComponent extends Component {
    constructor() {
      super();
    }

    static get observedAttributes() {
      return ["id", "color"];
    }

    static get observedProperties() {
      return ["user"];
    }

    handleClick() {
      console.log("clicked");
    }
  }

  customElements.define("simple-component", SimpleComponent);
</script>
