:root {
  --btn-color: #212c5b;
  --text-color: #fff;
  --fg-color: hsl(180deg 20.54% 90.41%);
  --fx-clr-0: hsl(204, 70%, 41%);
  --fx-clr-1: hsl(116, 56%, 40%);
  --fx-clr-2: hsl(359, 79%, 49%);
  --fx-clr-3: hsl(30, 100%, 50%);
  --fx-clr-4: hsl(269, 43%, 42%);
  --fx-clr-5: hsl(21, 63%, 42%);
  --grp-clr-0: hsl(201, 52%, 77%);
  --grp-clr-1: hsl(92, 57%, 70%);
  --grp-clr-2: hsl(1, 92%, 79%);
  --grp-clr-3: hsl(34, 97%, 71%);
  --grp-clr-4: hsl(280, 30%, 76%);
  --grp-clr-5: hsl(60, 100%, 80%);
  --selected-fx-clr: var(--fx-clr-0);
  --selected-grp-clr: var(--grp-clr-0);
}

body {
  padding: 0px;
  margin: 0px;
  background-color: white;
  color: black;
  overflow: hidden;
}

.uk-navbar-container {
  position: relative;
}

nav {
  z-index: 1;
}

.effect .fx-clr-0 {
  border: solid 1px var(--fx-clr-0);
  box-shadow: 0px 1px 10px 2px var(--fx-clr-0);
  background-color: var(--fx-clr-0);
}

.effect .fx-clr-1 {
  border: solid 1px var(--fx-clr-1);
  box-shadow: 0px 1px 10px 2px var(--fx-clr-1);
  background-color: var(--fx-clr-1);
}

.effect .fx-clr-2 {
  border: solid 1px var(--fx-clr-2);
  box-shadow: 0px 1px 10px 2px var(--fx-clr-2);
  background-color: var(--fx-clr-2);
}

.effect .fx-clr-3 {
  border: solid 1px var(--fx-clr-3);
  box-shadow: 0px 1px 10px 2px var(--fx-clr-3);
  background-color: var(--fx-clr-3);
}

.effect .fx-clr-4 {
  border: solid 1px var(--fx-clr-4);
  box-shadow: 0px 1px 10px 2px var(--fx-clr-4);
  background-color: var(--fx-clr-4);
}

.effect .fx-clr-5 {
  border: solid 1px var(--fx-clr-5);
  box-shadow: 0px 1px 10px 2px var(--fx-clr-5);
  background-color: var(--fx-clr-5);
}

.group.grp-clr-0 {
  border: solid 1px var(--grp-clr-0);
  box-shadow: 0px 1px 10px 2px var(--grp-clr-0);
  background-color: var(--grp-clr-0);
}

.group.grp-clr-1 {
  border: solid 1px var(--grp-clr-1);
  box-shadow: 0px 1px 10px 2px var(--grp-clr-1);
  background-color: var(--grp-clr-1);
}

.group.grp-clr-2 {
  border: solid 1px var(--grp-clr-2);
  box-shadow: 0px 1px 10px 2px var(--grp-clr-2);
  background-color: var(--grp-clr-2);
}

.group.grp-clr-3 {
  border: solid 1px var(--grp-clr-3);
  box-shadow: 0px 1px 10px 2px var(--grp-clr-3);
  background-color: var(--grp-clr-3);
}

.group.grp-clr-4 {
  border: solid 1px var(--grp-clr-4);
  box-shadow: 0px 1px 10px 2px var(--grp-clr-4);
  background-color: var(--grp-clr-4);
}

.group.grp-clr-5 {
  border: solid 1px var(--grp-clr-5);
  box-shadow: 0px 1px 10px 2px var(--grp-clr-5);
  background-color: var(--grp-clr-5);
}

input[type=text] {
  max-width: 100%;
  max-height: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
}

.launch-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.launch-overlay h1 {
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Handjet", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 80px;
  padding-top: 100px;
}
.launch-overlay #launch {
  text-align: center;
}
.launch-overlay #launch a {
  font-family: "Handjet", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 40px;
}
.launch-overlay #launch svg {
  width: 100px;
  height: 100px;
}
.launch-overlay #launch p {
  max-width: 400px;
  margin: 50px auto;
}
.launch-overlay #launch svg,
.launch-overlay #launch p,
.launch-overlay #launch h3,
.launch-overlay #launch a {
  color: white !important;
}

.video-wrapper {
  margin-top: 20px;
}

.uk-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: none;
}

.video.uk-card-default {
  color: black;
  background-color: transparent;
  box-shadow: none;
}
.video.uk-card-default > div {
  background-color: var(--fg-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  position: relative;
}
.video.uk-card-default > div .left {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.video.uk-card-default.selected > div {
  background-color: var(--selected-grp-clr);
}
.video.uk-card-default .uk-card-header {
  border-bottom: none;
  padding: 13px 20px 13px 36px;
}
.video.uk-card-default .uk-card-header input {
  display: inline-block;
  vertical-align: middle;
}
.video.uk-card-default .uk-card-header input[type=radio] {
  margin-left: -16px;
  margin-top: 0px;
  background-color: white;
}
.video.uk-card-default .uk-card-header input[type=radio]:checked {
  background-color: #34383d !important;
}
.video.uk-card-default .uk-card-header input[type=text] {
  padding-left: 10px;
}
.video.uk-card-default .uk-card-body {
  padding-top: 0px;
}
.video.uk-card-default .uk-card-footer {
  padding-left: 0px;
  padding-right: 0px;
}
.video.uk-card-default video {
  margin-bottom: 20px;
  width: 100%;
  aspect-ratio: 2/1;
  background-color: black;
}
.video.uk-card-default input[type=range]::before {
  display: none;
}
.video.uk-card-default .preview {
  position: relative;
}
.video.uk-card-default .preview p {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
}
.video.uk-card-default .preview.no-video p {
  display: block;
}
.video.uk-card-default .upload-wrapper {
  width: 100%;
  position: relative;
  cursor: pointer;
}
.video.uk-card-default .upload-wrapper label {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white !important;
  background-color: transparent;
  cursor: pointer;
}
.video.uk-card-default .upload-wrapper input {
  opacity: 0;
  width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#effects {
  margin-top: 0px;
}
#effects select {
  color: white;
  background-color: transparent;
  border: none;
}
#effects li {
  padding-left: 16px;
  background-color: transparent;
}
#effects li input {
  display: inline-block;
  vertical-align: middle;
  margin-left: -16px;
  position: relative;
  transform: translateX(8px);
  margin-top: 0px;
  background-color: white;
}
#effects li input:checked {
  background-color: #34383d !important;
}
#effects li label {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
  padding-right: 0px;
}

#shapes .table-wrapper {
  overflow: auto;
}
#shapes .table-wrapper table {
  margin-bottom: 0px;
  direction: rtl;
}
#shapes .table-wrapper table tr {
  height: 1px;
}
#shapes .table-wrapper table tr:last-child {
  height: auto;
}
#shapes .table-wrapper table td {
  min-height: 18px;
  padding: 16px 6px 16px 6px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-right: solid 1px;
}
#shapes .table-wrapper table td:first-child {
  min-width: 50px;
  padding: 16px 6px 16px 22px;
}
#shapes .table-wrapper table td:first-child input {
  display: inline-block;
  vertical-align: middle;
}
#shapes .table-wrapper table td:first-child input[type=radio] {
  margin-left: -16px;
  background-color: white;
}
#shapes .table-wrapper table td:first-child input[type=text] {
  writing-mode: vertical-rl;
  width: auto;
}
#shapes .table-wrapper table td input[type=checkbox] {
  display: block;
  margin: 0px auto;
  font-size: 22px;
  background-color: white;
}
#shapes .table-wrapper table td input[type=checkbox]:checked {
  background-color: #34383d !important;
}
#shapes .table-wrapper table thead {
  position: sticky;
  top: 0px;
}
#shapes .table-wrapper table thead tr th {
  padding: 0px;
  width: 150px;
}
#shapes .table-wrapper table thead tr th:last-child {
  width: auto;
}
#shapes .table-wrapper table thead tr th div {
  min-height: 18px;
  padding: 16px 16px 16px 28px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  background-color: var(--fg-color);
  border-right: solid 1px;
}
#shapes .table-wrapper table thead tr th div input {
  display: inline-block;
  vertical-align: middle;
}
#shapes .table-wrapper table thead tr th div input[type=radio] {
  margin-left: -16px;
  background-color: white;
  margin-top: 0px;
}
#shapes .table-wrapper table thead tr th div input[type=text] {
  padding-left: 10px;
  padding-right: 0px;
}
#shapes .table-wrapper table thead input[type=text],
#shapes .table-wrapper table tbody input[type=text] {
  background-color: transparent;
  border: none;
  width: 100%;
}

a {
  color: var(--btn-color) !important;
}

h3 {
  color: var(--btn-color);
}

a:hover {
  color: var(--btn-color) !important;
}

.fancy {
  font-family: "Handjet", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 40px !important;
}

.fancy.small {
  font-size: 30px !important;
}

.ui {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#zone-select li a {
  font-size: 150%;
  padding: 5px 15px;
}

#quad-control {
  padding: 5px 15px;
}

.fullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
}

label {
  color: var(--text-color) !important;
  padding: 0px 15px;
}

.videos,
.buffers {
  position: absolute;
  display: none;
}

.contexts canvas {
  /*  opacity: 0.3;*/
}

#fps {
  position: fixed;
  top: 10px;
  right: 10px;
}

.launch {
  position: relative;
  margin: 0px auto;
  width: 200px;
  top: 200px;
  display: block;
  cursor: pointer;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 150px;
  box-sizing: border-box;
}
.content .left {
  width: 175px;
  transition: width 100ms ease-out;
  position: relative;
}
.content .left.expanded {
  max-width: 475px;
  width: 300px;
  overflow: auto;
}
.content .right {
  flex: 1;
  padding-left: 20px;
  padding-right: 300px;
  position: relative;
}
.content .right > div:last-child {
  display: block;
  vertical-align: top;
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.content .right > div:last-child .inputs {
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
}
.content .right > div:last-child .inputs input {
  transform: rotate(270deg);
  position: absolute;
  width: 100%;
  top: 50%;
  margin-left: -50%;
  padding-left: 20px;
  padding-right: 40px;
}
.content .right > div:last-child .inputs input:before {
  display: none;
}
.content .right > div:last-child .inputs input:nth-child(1) {
  left: 50px;
}
.content .right > div:last-child .inputs input:nth-child(2) {
  left: 175px;
}
.content .right > div:last-child .inputs input:nth-child(3) {
  left: 250px;
}

.slideout {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 150px;
  transform: translateX(100%);
  transition: background-color 150ms ease, right 150ms ease;
  top: 0px;
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
}
.slideout.active {
  right: 600px;
  background-color: rgb(255, 255, 255);
}
.slideout div {
  box-sizing: border-box;
}
.slideout .slideout-content {
  height: 100%;
  position: relative;
  width: 600px;
  overflow: auto;
}
.slideout .slideout-content input[type=text] {
  text-align: center;
  padding: 6px;
  font-size: 16px;
}
.slideout .slideout-content .table {
  position: relative;
  height: 100%;
  white-space: nowrap;
  overflow: auto;
}
.slideout .slideout-content .table .column {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100%;
  width: 125px;
}
.slideout .slideout-content .table .column .row {
  position: relative;
  height: 15%;
  padding: 5px;
}
.slideout .slideout-content .table .column .row a svg {
  width: 50px;
  height: 50px;
}
.slideout .slideout-content .table .column .row.header div {
  padding-left: 27px;
  padding-top: 19px;
}
.slideout .slideout-content .table .column .row.header div input {
  display: inline-block;
  vertical-align: middle;
}
.slideout .slideout-content .table .column .row.header div input[type=radio] {
  margin-left: -20px;
}
.slideout .slideout-content .table .column .row:first-child {
  height: 10%;
}
.slideout .slideout-content .table .column .row > div {
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  height: 100%;
}
.slideout .slideout-content .table .column .row.group > div {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.slideout .slideout-content .table .column .row.group input {
  writing-mode: vertical-rl;
}
.slideout .slideout-content .table .row.toggle input[type=checkbox],
.slideout .slideout-content .table .row.toggle input[type=radio],
.slideout .slideout-content .table .row.group input[type=checkbox],
.slideout .slideout-content .table .row.group input[type=radio] {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
.slideout .slideout-content .table .row.toggle input[type=checkbox]:checked,
.slideout .slideout-content .table .row.toggle input[type=radio]:checked,
.slideout .slideout-content .table .row.group input[type=checkbox]:checked,
.slideout .slideout-content .table .row.group input[type=radio]:checked {
  background-color: #34383d !important;
}

/*********** Baseline, reset styles ***********/
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

/* Removes default focus */
input[type=range]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type=range]::-webkit-slider-runnable-track {
  background-color: #000;
  border-radius: 0.5rem;
  height: 30px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #000;
  border-radius: 0.5rem;
  height: 30px;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #000;
  border-radius: 0.5rem;
  height: 30px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #000;
  border-radius: 0.5rem;
  height: 30px;
}

/* slider thumb */
input[type=range].fx-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -10px; /* Centers thumb on the track */
  background-color: var(--selected-fx-clr);
  border-radius: 75rem;
  height: 50px;
  width: 50px;
}

input[type=range].fx-slider:focus::-webkit-slider-thumb {
  outline: 3px solid var(--selected-fx-clr);
  outline-offset: 0.125rem;
}

/* slider thumb */
input[type=range].grp-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -10px; /* Centers thumb on the track */
  background-color: var(--selected-grp-clr);
  border-radius: 75rem;
  height: 50px;
  width: 50px;
}

input[type=range].grp-slider:focus::-webkit-slider-thumb {
  outline: 3px solid var(--selected-grp-clr);
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type=range]::-moz-range-track {
  background-color: #000000;
  border-radius: 0.5rem;
  height: 30px;
}

/* slider thumb */
input[type=range].grp-slider::-moz-range-thumb {
  background-color: var(--selected-grp-clr);
  border: none; /*Removes extra border that FF applies*/
  border-radius: 75rem;
  height: 50px;
  width: 50px;
}

input[type=range].grp-slider:focus::-moz-range-thumb {
  outline: 3px solid var(--selected-grp-clr);
  outline-offset: 0.125rem;
}

/* slider thumb */
input[type=range].fx-slider::-moz-range-thumb {
  background-color: var(--selected-fx-clr);
  border: none; /*Removes extra border that FF applies*/
  border-radius: 75rem;
  height: 50px;
  width: 50px;
}

input[type=range].fx-slider:focus::-moz-range-thumb {
  outline: 3px solid var(--selected-fx-clr);
  outline-offset: 0.125rem;
}
