<template id="sc-content">
  <div class="content uk-flex">
    <div class="uk-width-2-10 objects">
      <object-lists :app="app" :state="state"></object-lists>
    </div>
    <div class="uk-width-8-10 controller">
      <div class="slots uk-width-1-1 uk-flex">
        <div class="uk-width-1-2">
          <label>Script Slots</label>
          <div class="slot-list">
            <template :for="state?.scripts || []">
              <slot-item
                :idx="$idx"
                :update="updateScript"
                :selected="$value"
                :options="app?.scripts || []"
                :class="selectedScript === $idx ? 'selected': ''"
                @click="selectItem('script', $idx)"
              ></slot-item>
            </template>
          </div>
        </div>
        <div class="uk-width-1-2">
          <label>Effect Slots</label>
          <div class="slot-list">
            <template :for="state?.effects || []">
              <slot-item
                :idx="$idx"
                :update="updateEffect"
                :selected="$value"
                :options="app?.effects || []"
                :class="selectedEffect === $idx ? 'selected': ''"
                @click="selectItem('effect', $idx)"
              ></slot-item>
            </template>
          </div>
        </div>
      </div>

      <div class="controls uk-width-1-1 uk-flex">
        <div class="videos uk-width-6-10">
          <div class="uk-child-width-1-3@s uk-grid-collapse" uk-grid>
            <template :for="new Array(6).fill(null)">
              <video-slot
                :idx="$idx"
                :app="app"
                :class='selectedVideo === $idx ? "selected" : ""'
                @click="selectItem('video', $idx)"
              ></video-slot>
            </template>
          </div>
          <!-- <video-slots :app="app" :selected="selectedVideo"></video-slots> -->
        </div>
        <div class="sliders uk-width-4-10">
          <div>
            <vertical-range
              :update="setEffectValue.bind(null, 0)"
            ></vertical-range>
            <vertical-range
              :update="setEffectValue.bind(null, 1)"
            ></vertical-range>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  class SCContent extends Component {
    constructor() {
      super();
    }

    static get observedProperties() {
      return [
        "app",
        "state",
        "selectedVideo",
        "selectedEffect",
        "selectedScript",
      ];
    }

    connected() {
      this.listen("app", (app) => {
        this.state = app.state;

        app.listen("state", (state) => {
          this.state = state;
          this.selectedVideo = state.selected.video;
          this.selectedEffect = state.selected.effect;
          this.selectedScript = state.selected.script;
        });
      });
    }

    selectItem(type, idx) {
      this.app.updateSelected(type, idx);
    }

    updateEffect(idx, effect) {
      this.app.setEffect(idx, effect);
    }

    renameVideo(idx, value) {}

    updateScript(idx, script) {
      console.log("Script Updated:", idx, effect);
    }

    setEffectValue(effect, e) {
      this.app.updateEffect(effect, e.target.value);
    }
  }
</script>
