<template id="sc-content">
  <div class="content uk-flex">
    <div class="uk-width-2-10 objects">
      <object-lists :app="app" :state="state"></object-lists>
    </div>
    <div class="uk-width-8-10 controller">
      <!-- <led-bar id="script_lights"></led-bar> -->
      <!-- <horizontal-led-bar id="h_script_lights"></horizontal-led-bar> -->

      <div class="slots uk-width-1-1 uk-flex">
        <div class="uk-width-1-2">
          <label>Script Slots</label>
          <div class="slot-list">
            0, 1, 5, 2, 4, 3
            <script-slot
              :idx="0"
              :script="(scripts || [])[0]"
              :app="app"
              :class="selectedScript === 0 ? 'selected': ''"
              @click="selectItem('script', 0)"
            ></script-slot>
            <script-slot
              :idx="1"
              :script="(scripts || [])[1]"
              :app="app"
              :class="selectedScript === 1 ? 'selected': ''"
              @click="selectItem('script', 1)"
            ></script-slot>
            <script-slot
              :idx="5"
              :script="(scripts || [])[5]"
              :app="app"
              :class="selectedScript === 5 ? 'selected': ''"
              @click="selectItem('script', 5)"
            ></script-slot>
            <script-slot
              :idx="2"
              :script="(scripts || [])[2]"
              :app="app"
              :class="selectedScript === 2 ? 'selected': ''"
              @click="selectItem('script', 2)"
            ></script-slot>
            <script-slot
              :idx="4"
              :script="(scripts || [])[4]"
              :app="app"
              :class="selectedScript === 4 ? 'selected': ''"
              @click="selectItem('script', 4)"
            ></script-slot>
            <script-slot
              :idx="3"
              :script="(scripts || [])[3]"
              :app="app"
              :class="selectedScript === 3 ? 'selected': ''"
              @click="selectItem('script', 3)"
            ></script-slot>
            <!-- <template :for="state?.scripts || []">
              <slot-item
                :idx="order[$idx]"
                :update="updateScript"
                :selected="$value"
                :options="scripts || []"
                :class="selectedScript === order[$idx] ? 'selected': ''"
                @click="selectItem('script', order[$idx])"
              ></slot-item>
            </template> -->
            <!--
            <slot-item
              :idx="0"
              :update="updateScript"
              :selected="(state?.scripts || [])[0]"
              :options="scripts || []"
              :class="selectedScript === 0 ? 'selected': ''"
              @click="selectItem('script', 0)"
            ></slot-item>
            <slot-item
              :idx="1"
              :update="updateScript"
              :selected="(state?.scripts || [])[1]"
              :options="scripts || []"
              :class="selectedScript === 1 ? 'selected': ''"
              @click="selectItem('script', 1)"
            ></slot-item>
            <slot-item
              :idx="5"
              :update="updateScript"
              :selected="(state?.scripts || [])[5]"
              :options="scripts || []"
              :class="selectedScript === 5 ? 'selected': ''"
              @click="selectItem('script', 5)"
            ></slot-item>
            <slot-item
              :idx="2"
              :update="updateScript"
              :selected="(state?.scripts || [])[2]"
              :options="scripts || []"
              :class="selectedScript === 2 ? 'selected': ''"
              @click="selectItem('script', 2)"
            ></slot-item>
            <slot-item
              :idx="4"
              :update="updateScript"
              :selected="(state?.scripts || [])[4]"
              :options="scripts || []"
              :class="selectedScript === 4 ? 'selected': ''"
              @click="selectItem('script', 4)"
            ></slot-item>
            <slot-item
              :idx="3"
              :update="updateScript"
              :selected="(state?.scripts || [])[3]"
              :options="scripts || []"
              :class="selectedScript === 3 ? 'selected': ''"
              @click="selectItem('script', 3)"
            ></slot-item>
            -->
          </div>
        </div>
        <div class="uk-width-1-2">
          <label>Effect Slots</label>
          <div class="slot-list">
            <!-- <template :for="state?.effects || []"> -->
            <slot-item
              :idx="0"
              :update="updateEffect"
              :selected="(state?.effects || [])[0]"
              :options="effects || []"
              :class="selectedEffect === 0 ? 'selected': ''"
              @click="selectItem('effect', 0)"
            ></slot-item>
            <slot-item
              :idx="1"
              :update="updateEffect"
              :selected="(state?.effects || [])[1]"
              :options="effects || []"
              :class="selectedEffect === 1 ? 'selected': ''"
              @click="selectItem('effect', 1)"
            ></slot-item>
            <slot-item
              :idx="5"
              :update="updateEffect"
              :selected="(state?.effects || [])[5]"
              :options="effects || []"
              :class="selectedEffect === 5 ? 'selected': ''"
              @click="selectItem('effect', 5)"
            ></slot-item>
            <slot-item
              :idx="2"
              :update="updateEffect"
              :selected="(state?.effects || [])[2]"
              :options="effects || []"
              :class="selectedEffect === 2 ? 'selected': ''"
              @click="selectItem('effect', 2)"
            ></slot-item>
            <slot-item
              :idx="4"
              :update="updateEffect"
              :selected="(state?.effects || [])[4]"
              :options="effects || []"
              :class="selectedEffect === 4 ? 'selected': ''"
              @click="selectItem('effect', 4)"
            ></slot-item>
            <slot-item
              :idx="3"
              :update="updateEffect"
              :selected="(state?.effects || [])[3]"
              :options="effects || []"
              :class="selectedEffect === 3 ? 'selected': ''"
              @click="selectItem('effect', 3)"
            ></slot-item>
            <!-- </template> -->
          </div>
        </div>
      </div>

      <!-- <div class="bar-holder">
        <horizontal-led-bar id="h_effect_a_lights"></horizontal-led-bar>
        <horizontal-led-bar id="h_effect_b_lights"></horizontal-led-bar>
      </div> -->

      <div class="controls uk-width-1-1 uk-flex">
        <div class="videos uk-width-6-10">
          <div class="uk-child-width-1-3@s uk-grid-collapse" uk-grid>
            <video-slot
              :idx="0"
              :app="app"
              :opacity="getOpacity(0)"
              :class='selectedVideo === 0 ? "selected" : ""'
              @click="selectItem('video', 0)"
            ></video-slot>
            <video-slot
              :idx="1"
              :app="app"
              :opacity="getOpacity(1)"
              :class='selectedVideo === 1 ? "selected" : ""'
              @click="selectItem('video', 1)"
            ></video-slot>
            <video-slot
              :idx="2"
              :app="app"
              :opacity="getOpacity(2)"
              :class='selectedVideo === 2 ? "selected" : ""'
              @click="selectItem('video', 2)"
            ></video-slot>
            <video-slot
              :idx="3"
              :app="app"
              :opacity="getOpacity(3)"
              :class='selectedVideo === 3 ? "selected" : ""'
              @click="selectItem('video', 3)"
            ></video-slot>
            <video-slot
              :idx="4"
              :app="app"
              :opacity="getOpacity(4)"
              :class='selectedVideo === 4 ? "selected" : ""'
              @click="selectItem('video', 4)"
            ></video-slot>
            <video-slot
              :idx="5"
              :app="app"
              :opacity="getOpacity(5)"
              :class='selectedVideo === 5 ? "selected" : ""'
              @click="selectItem('video', 5)"
            ></video-slot>
          </div>
          <!-- <video-slots :app="app" :selected="selectedVideo"></video-slots> -->
        </div>
        <div class="sliders uk-width-4-10">
          <div>
            <vertical-range
              :value="Array.isArray(values) ? values[0] : 0"
              :update="setEffectValue.bind(null, 0)"
            ></vertical-range>
            <vertical-range
              :value="Array.isArray(values) ? values[1] : 0"
              :update="setEffectValue.bind(null, 1)"
            ></vertical-range>
          </div>
        </div>
      </div>

      <!-- <led-bar id="effect_a_lights"></led-bar>
      <led-bar id="effect_b_lights"></led-bar> -->
    </div>
  </div>
</template>

<script>
  class SCContent extends Component {
    constructor() {
      super();
    }

    static get observedProperties() {
      return [
        "app",
        "state",
        "selectedVideo",
        "selectedEffect",
        "selectedScript",
        "order",
        "effects",
        "scripts",
        "values",
      ];
    }

    connected() {
      this.order = [0, 1, 5, 2, 4, 3];
      this.values = [0, 0];

      this.listen("app", (app) => {
        this.state = app.state;
        this.effects = app.effects;
        this.scripts = app.scripts;

        app.listen("scripts", (scripts) => {
          this.scripts = scripts;
        });

        app.listen("effects", (effects) => {
          this.effects = effects;
        });

        app.listen("state", (state) => {
          this.state = state;
          this.selectedVideo = state.selected.video;
          this.selectedEffect = state.selected.effect;
          this.selectedScript = state.selected.script;
          this.values = [...this.app.getSelectedValues()];

          // console.log(this.values);
        });
      });
    }

    selectItem(type, idx) {
      console.log(idx, this.order[idx]);
      this.app.updateSelected(type, idx);
    }

    updateEffect(idx, effect) {
      this.app.setEffect(idx, effect);
    }

    updateScript(idx, script_id) {
      this.app.setScript(idx, script_id);
    }

    setEffectValue(idx, e) {
      this.app.updateValue(idx, e.target.value);
    }

    getOpacity(idx) {
      return (this.state?.videos || [])[idx]?.opacity || 0;
    }
  }
</script>
