<template id="sc-header">
  <nav class="uk-navbar-container">
    <div class="uk-container">
      <div uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li><a href="#" class="fancy">Sensory Controls</a></li>
            <!-- <li id="add_triangle">
              <a href="javascript:void(0)" @click="addTriangle()"
                ><span uk-icon="icon: plus"></span>Add Triangle</a
              >
            </li> -->
          </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li id="current-project">
              <div>
                <a id="save_btn" href="javascript:void(0)"
                  ><span uk-icon="icon: check"></span
                ></a>
                <input id="project_name" type="text" value="My Project" />
              </div>
            </li>
            <li id="open_menu">
              <div>
                <a href="javascript:void(0)"
                  ><span uk-icon="icon: menu"></span
                ></a>
              </div>
              <div class="menu uk-width-medium" uk-dropdown="mode: click">
                <ul class="uk-list">
                  <li>
                    <label>My Projects</label>
                    <ul id="project_list">
                      <li>No Saved Projects</li>
                    </ul>

                    <a
                      href="javascript:void(0)"
                      id="download-projects"
                      class="btn"
                    >
                      Download Projects
                    </a>
                    <div class="upload-projects">
                      <div class="upload-wrapper">
                        <label class="btn" for="upload-projects">
                          Upload Projects
                        </label>
                        <input type="file" id="upload-projects" />
                      </div>
                    </div>
                  </li>
                  <li>
                    <label>About</label>
                    <ul class="uk-list">
                      <li>Overview</li>
                      <li>Mapping</li>
                      <li>Effects</li>
                      <li>Groups</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  class SCHeader extends Component {
    constructor() {
      super();
    }

    static get observedAttributes() {
      return [];
    }

    static get observedProperties() {
      return ["app", "projects"];
    }

    connected() {
      this.listen("app", "loader", () => {
        this.onConnect();
      });
    }

    onConnect() {
      let { context } = this.app;

      context.subscribe("ui", (value, oldValue) => {});
    }

    addTriangle() {
      console.log("Adding triangle");
    }
  }
</script>
