<!-- TODO Make a modal class -->
<template>
	<div class="modal">
		<div class="container">
			<div class="header"></div>
			<div class="dialog">
				<div class="sidebar"></div>

				<div class="editor">
					<div class="label">
						<input type="text" :value="label || ''" @input="onLabel($event)" />
					</div>
					<div :class='!!error ? "error " : "error hidden"'>
						{{(error || '').toString()}}
					</div>
					<div class="code-box">
						<textarea
							placeholder="Write your script here"
							:value="code"
							@input="onCode($event)"
						></textarea>
						<pre><code class="language-js"></code></pre>
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="btn" @click="onSave()">Save</div>
				<div class="btn" @click="onCancel()">Cancel</div>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
</template>

<script>
	class CodeEditor extends Component {
		constructor() {
			super();
		}

		static get observedProperties() {
			return ["app", "idx", "label", "code", "scripts", "error"];
		}

		connected() {
			this.listen("app", (app) => {
				this.scripts = [...app.scripts];

				app.listen("scripts", (scripts) => {
					this.scripts = [...scripts];
				});
			});
		}

		onLabel(evt) {
			this.label = evt.target.value;
			this.app.updateScript(script.id, this.label, this.code);
		}

		onCode(evt) {
			this.error = null;

			this.querySelector("code").innerHTML = evt.target.value;
			Prism.highlightElement(this.querySelector("code"));

			this.code = evt.target.value;
		}

		onSave() {
			let script = this.app.scripts[this.idx];
			let state = JSON.parse(JSON.stringify(this.app.state));

			try {
				let validation = new Function("state", this.code)(state);
			} catch (err) {
				this.error = err;
				return;
			}

			this.app.updateScript(script.id, this.label, this.code);
		}

		onCancel() {
			this.parentNode.removeChild(this);
		}
	}
</script>
