<template id="simple-component">
  <div :href='"test"' :id="id + '-' + color" @click="handleClick(color)">
    Text content should be <b>{{color === 'red' ? 'blue' : 'red'}}</b> and
    {{color}}
    <p>{{id}}</p>
  </div>
</template>

<script>
  class SimpleComponent extends Component {
    constructor() {
      super();
    }

    static get observedAttributes() {
      return ["id", "color"];
    }

    static get observedProperties() {
      return ["user"];
    }

    handleClick(clr) {
      console.log("clicky", clr);
    }
  }
</script>
