<template>
  <template :for="items">
    <slot-item
      :idx="$idx"
      :update="update"
      :select="select"
      :selected="$value"
      :options="options"
      :class="selected === $idx ? 'selected': ''"
    ></slot-item>
  </template>
</template>
<script>
  class SlotList extends Component {
    constructor() {
      super();
    }

    connected() {
      this.listen("selected", (selected) => {
        // console.log(selected);
        //   this.querySelectorAll("slot-item").forEach((slot, idx) => {
        //     console.log("Huh?", idx, selected);
        //     slot.classList.toggle("selected", idx === selected);
        //   });
      });
    }

    static get observedProperties() {
      return ["selected", "select", "update", "items", "options"];
    }
  }
</script>
