<template>
  <div class="select" @click="setSelected(idx)">
    <div class="select-display">{{getLabel(selected)}}</div>
    <div class="select-list">
      <ul class="uk-list">
        <li @click="updateSelection($event)">Empty</li>
      </ul>
    </div>
    <div class="select-handle" @click="toggleActive($event)">
      <span uk-icon="icon: triangle-down"></span>
    </div>
  </div>
</template>

<script>
  class SlotList extends Component {
    constructor() {
      super();
    }

    static get observedProperties() {
      return ["idx", "selected", "options", "select", "update"];
    }

    connected() {
      this.listen("selected", (selected) => {
        this.label = this.options[selected]?.label || "Empty";
      });

      for (var i = 0; i < this.options.length; i++) {
        let effect = this.options[i];
        let li = document.createElement("li");

        li.innerText = effect.label;
        li.dataset.value = effect.id;
        li.addEventListener("click", this.updateSelection.bind(this));

        this.querySelector(".uk-list").append(li);
      }
    }

    createOption(id, label) {
      let item = document.createElement("li");

      item.dataset.value = id;
      item.textContent = label;

      item.addEventListener("click", this.updateSelection.bind(this));

      console.log("is this happening?")
      this.querySelector(".select-list ul").appendChild(item);
    }

    toggleActive(e) {
      e.preventDefault();
      e.stopPropagation();

      this.querySelector(".select").classList.add("active");

      window.addEventListener("click", () => {
        this.querySelector(".select").classList.remove("active");
      });
    }

    getLabel(effect) {
      if (!effect) {
        return "Empty";
      }

      let effects = document.querySelector("sensory-controls").app?.effects;

      return effects.find((e) => e.id === effect)?.label || "Empty";
    }

    setSelected(idx) {
      this.select(idx);
    }

    updateSelection(e) {
      this.update(this.idx, e.target.dataset?.value || null);
    }
  }
</script>
