<template>
  <div class="select" @click="select(idx)">
    <div class="select-display">{{label}}</div>
    <div class="select-list">
      <ul class="uk-list"></ul>
    </div>
    <div class="select-handle" @click="toggleActive($event)">
      <span uk-icon="icon: triangle-down"></span>
    </div>
  </div>
</template>

<script>
  class SlotList extends Component {
    constructor() {
      super();
    }

    static get observedProperties() {
      return ["idx", "selected", "items", "select", "update", "label"];
    }

    connected() {
      this.listen("items", "items-updated", (items) => {
        this.querySelector(".select-list ul").innerHTML = "";
        this.createOption("", "Empty");
        (items || []).map((item) => {
          this.createOption(item.id, item.label);
        });
      });

      this.listen("selected", "label-handle", (selected) => {
        this.label = this.items[selected]?.label || "Empty";
      });
    }

    createOption(id, label) {
      let item = document.createElement("li");

      item.dataset.value = id;
      item.textContent = label;

      item.addEventListener("click", this.updateSelection.bind(this));

      this.querySelector(".select-list ul").appendChild(item);
    }

    toggleActive(e) {
      e.preventDefault();
      e.stopPropagation();

      this.querySelector(".select").classList.add("active");

      window.addEventListener("click", () => {
        this.querySelector(".select").classList.remove("active");
      });
    }

    updateSelection(e) {
      this.update(this.idx, e.target.dataset?.value || "");
    }
  }
</script>
