<template>
	<div class="uk-child-width-1-3@s uk-grid-collapse" uk-grid></div>
</template>

<script>
	class VideoSlots extends Component {
		constructor() {
			super();
		}

		connected() {
			let slots = this.querySelector("div");

			for (var i = 0; i < 6; i++) {
				let slot = document.createElement("video-slot");

				slots.append(slot);

				slot.idx = i;
				slot.select = this.selectVideo.bind(this);
				slot.update = this.updateVideo.bind(this);
				slot.rename = this.renameVideo.bind(this);
				slot.delete = this.deleteVideo.bind(this);	
				slot.opacity = this.setOpacity.bind(this);	
			}

			this.listen("selected", (selected) => {
				this.querySelectorAll('video-slot').forEach((slot, idx) => {
					slot.classList.toggle("selected", selected === idx);
				})
			})
		}

		static get observedProperties() {
			return ["app", "selected"];
		}

		// idx, video, onChange, onSelect, onDelete

		selectVideo(idx) {
			this.app.updateSelected("video", idx)
		}

		updateVideo(idx, file) {
			this.app.updateVideo(idx, file)
		}

		renameVideo(idx, value) {}

		deleteVideo(idx) {
			this.app.removeVideo(idx);
		}

		setOpacity(idx, value) {
			this.app.updateOpacity(idx, value);
		}
	}
</script>
