<template>
	<div>
		<div class="left">
			<div :id="'video-' + idx" class="video-header">
				<label :for="'video-' + idx">
					<input
						:id="'video-' + idx"
						type="radio"
						name="video"
						class="uk-radio"
					/>
					<input
						type="text"
						class="uk-card-title"
						:value="video?.label || 'Video ' + (idx + 1)"
					/> </label
				><a
					@click="onRemove()"
					class="remove-video"
					href="javascript:void(0)"
					uk-icon="icon: trash"
				></a>
			</div>
			<div class="video-body">
				<div class="preview no-video upload-wrapper">
					<video></video>
					<p>No Video</p>
					<label class="uk-label" :for="'video-' + idx + '-input'"></label>
					<input
						:id="'video-' + idx + '-input'"
						@change="onChange($event)"
						type="file"
						accept="video/mp4,video/x-m4v,video/*"
					/>
				</div>
			</div>
		</div>
		<div class="right">
			<div>
				<vertical-range
					:update="updateOpacity"
					:value="opacity"
				></vertical-range>
			</div>
		</div>
	</div>
</template>

<script>
	class VideoSlot extends Component {
		constructor() {
			super();

			this.loaded = false;
		}

		static get observedProperties() {
			return ["idx", "app", "video", "opacity"];
		}

		onChange(e) {
			if (e.target.files.length > 0) {
				this.querySelector("video").src = URL.createObjectURL(
					e.target.files[0],
				);

				this.querySelector("video").currentTime = 50;
				this.querySelector(".preview").classList.remove("no-video");
				this.querySelector("input[type='file']").disabled = true;
			}

			this.loaded = true;
			this.app.updateVideo(this.idx, e.target.files[0]);
		}

		onRemove() {
			this.loaded = false;

			this.querySelector("video").src = "";
			this.querySelector("input[type='file']").disabled = false;
			this.querySelector(".preview").classList.add("no-video");

			this.app.removeVideo(this.idx);
		}

		updateOpacity(e) {
			this.app.updateOpacity(this.idx, e.target.value);
		}
	}
</script>
