:root {
  --btn-color: #212c5b;
  --btn-text-color: #fff;

  --text-color: #fff;
  --fg-color: hsl(180deg 20.54% 90.41%);

  --fx-clr-0: hsl(204, 70%, 41%);
  --fx-clr-1: hsl(116, 56%, 40%);
  --fx-clr-2: hsl(359, 79%, 49%);
  --fx-clr-3: hsl(30, 100%, 50%);
  --fx-clr-4: hsl(269, 43%, 42%);
  --fx-clr-5: hsl(21, 63%, 42%);

  --grp-clr-0: hsl(201, 52%, 77%);
  --grp-clr-1: hsl(92, 57%, 70%);
  --grp-clr-2: hsl(1, 92%, 79%);
  --grp-clr-3: hsl(34, 97%, 71%);
  --grp-clr-4: hsl(280, 30%, 76%);
  --grp-clr-5: hsl(60, 100%, 80%);

  --selected-fx-clr: var(--fx-clr-0);
  --selected-grp-clr: var(--grp-clr-0);
}

.fancy {
  font-family: "Handjet", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 40px !important;
}

.fancy.small {
  font-size: 30px !important;
}

@for $i from 1 through 10 {
  .uk-width-#{$i}-10 {
    width: $i * 10%;
  }
}

a {
  color: var(--btn-color) !important;
}

h3 {
  color: var(--btn-color);
}

a:hover {
  color: var(--btn-color) !important;
}

input[type="text"] {
  max-width: 100%;
  max-height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: left;
  border-bottom: solid 1px;
}

nav {
  .uk-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: none;
  }

  z-index: 1;
  .uk-navbar-right {
    padding-right: 15px;

    #current-project {
      margin-right: 30px;
      margin-top: 4px;

      a {
        border: solid 1px;
        border-radius: 30px;
        padding: 3px;
        text-align: center;
      }

      input {
        margin-left: 10px;
        font-size: 16px;
      }
    }

    #save_btn {
      transition:
        background-color 300ms ease,
        color 300ms ease;

      &.saved {
        background-color: green;
        color: white !important;
      }
    }

    #open_menu {
      svg {
        width: 35px;
        height: 35px;
      }
    }

    .menu {
      label {
        color: black !important;
      }

      .btn {
        width: 100%;
      }

      a {
        margin: 10px 0px;
      }

      .upload-wrapper {
        height: 34px;

        label {
          background-color: var(--btn-color);
          color: var(--btn-text-color) !important;
        }
      }

      li {
        & > label {
          display: inline-block;
          width: 100%;
          border-bottom: solid 1px;
          box-sizing: border-box;
          margin-bottom: 10px;
        }
      }
    }
  }
}

slot-list {
  box-sizing: border-box;
  padding: 0px 10px !important;
  position: relative;

  slot-item {
    width: 33.3%;
    margin-top: 10px !important;
    margin-bottom: 10px !important;

    &:nth-child(1) {
      margin-left: 15.6%;
      margin-right: 1%;
    }

    &:nth-child(2) {
      margin-right: 15.6%;
      margin-left: 1%;
    }

    &:nth-child(3) {
      margin-right: 8.3%;
      margin-left: 8.3%;
    }

    &:nth-child(4) {
      margin-right: 8.3%;
      margin-left: 8.3%;
    }

    &:nth-child(5) {
      margin-left: 15.6%;
      margin-right: 1%;
    }

    &:nth-child(6) {
      margin-right: 15.6%;
      margin-left: 1%;
    }

    // &:nth-child(n + 3):nth-child(-n + 4) {
    //   background-color: #060;
    // }

    // &:nth-child(n + 5):nth-child(-n + 6) {
    //   background-color: #006;
    // }

    position: relative;
    // padding: 0px !important;
    // margin: 0px !important;

    .select {
      border: solid 1px #000;
      border-radius: 5px;
      background-color: white;

      .select-display {
        padding: 5px 50px 5px 10px;
      }

      .select-list {
        margin-top: -27px;
        margin-left: 8px;
        position: absolute;
        width: 100%;
        padding: 0px 30px 0px 5px;
        box-sizing: border-box;
        margin-bottom: 0;
        transition: opacity 200ms ease;
        z-index: 1;
        opacity: 0;
        pointer-events: none;

        ul {
          margin-bottom: 0px;
          border-radius: 5px;
          box-shadow: -1px 7px 15px 0px #716f6f;
          background-color: #d4d4d4;

          li {
            margin: 0px;
            padding: 5px 16px;

            &:hover {
              background-color: #6fa1f8 !important;
              color: white;
            }
          }
        }
      }

      .select-handle {
        width: 50px;
        position: absolute;
        top: 2px;
        right: 10px;
        text-align: right;
        cursor: pointer;

        svg {
          width: 35px;
          height: 35px;
        }
      }
    }

    &.active {
      .select-list {
        opacity: 1;
        pointer-events: all;
      }
    }

    &.selected {
      .effect {
        box-shadow: 0px 1px 14px 6px hsl(184.14deg 100% 51.57%) !important;
      }
    }
  }
}

.launch-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;

  h1 {
    width: 100%;
    text-align: center;
    color: white;

    font-family: "Handjet", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80px;
    padding-top: 100px;
  }

  #launch {
    text-align: center;

    a {
      font-family: "Handjet", sans-serif !important;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 40px;
    }

    svg {
      width: 100px;
      height: 100px;
    }

    p {
      max-width: 400px;
      margin: 50px auto;
    }

    svg,
    p,
    h3,
    a {
      color: white !important;
    }
  }
}

vertical-range {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;

  .range-input {
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;

    input {
      transform: rotate(270deg);
      position: absolute;
      width: 100%;
      top: 50%;
      margin-left: -50%;

      &:before {
        display: none;
      }
    }
  }
}

.controller {
  padding: 20px 40px;
  background-color: #000;
  min-height: 100vh;
}

.controls {
  padding-top: 60px;
}

.slots {
  margin-left: 3%;
}

.objects {
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: solid 1px #000;
  background-color: #aaa;
  min-height: 100vh;
}

.sliders {
  & > div {
    width: 300px;
    margin: 0px auto;

    vertical-range {
      margin: 0px 40px;
      height: 400px;
      width: 50px;
      padding: 0px 25px;

      input[type="range"] {
        padding: 0px;
        appearance: none;
        width: 100%;
        height: 16px;
        border: 1px solid #000;
        border-radius: 9999px;
        background-color: #ccc;
        cursor: pointer;
        box-sizing: border-box;
        transform: rotate(270deg) translateX(10px);
      }

      /* Thumb: for Chrome, Safari, Edge */
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 30px;
        background: #fff;
        box-shadow: none;
      }

      /* Thumb: for Firefox */
      input[type="range"]::-moz-range-thumb {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 30px;
        background: #fff;
        box-shadow: none;
      }
    }
  }
}

video-slot {
  color: black;
  box-shadow: none;
  padding: 10px 40px 10px 10px;

  & > div {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    position: relative;
    background-color: white;
    padding: 5px;
    position: relative;

    .left {
      position: relative;
      z-index: 1;
      display: inline-block;
      vertical-align: top;
      width: 100%;
    }

    .right {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      right: 0px;

      & > div {
        position: absolute;
        height: 100%;
        width: 20px;
        left: 100%;
        top: 0px;

        vertical-range {
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 12px;
          padding: 0px 12px;

          input[type="range"] {
            padding: 0px;
            appearance: none;
            width: 100%;
            height: 12px;
            border: 1px solid #000;
            border-radius: 9999px;
            background-color: #ccc;
            cursor: pointer;
            box-sizing: border-box;
            transform: rotate(270deg) translateX(8px);
          }

          /* Thumb: for Chrome, Safari, Edge */
          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 30px;
            background: #fff;
            box-shadow: none;
          }

          /* Thumb: for Firefox */
          input[type="range"]::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 30px;
            background: #fff;
            box-shadow: none;
          }
        }
      }
    }
  }

  &.selected {
    & > div {
      background-color: var(--selected-grp-clr);
      box-shadow: 0px 1px 14px 6px hsl(184.14deg 100% 51.57%) !important;
    }
  }

  .video-header {
    border-bottom: none;
    padding: 13px 50px 13px 20px;
    position: relative;

    label {
      width: 100%;
      padding: 0px;
      display: inline-block;

      input {
        display: inline-block;
        vertical-align: middle;

        &[type="radio"] {
          margin-left: -16px;
          margin-top: 0px;
          background-color: white;
          opacity: 0;
          position: absolute;

          &:checked {
            background-color: #34383d !important;
          }
        }

        &[type="text"] {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    a {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      text-align: right;
      margin-right: -30px;
    }
  }

  .video-body {
    padding-top: 0px;
  }

  video {
    width: 100%;
    aspect-ratio: 2/1;
    background-color: black;
  }

  input[type="range"]::before {
    display: none;
  }

  .preview {
    position: relative;

    p {
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      color: white;
    }

    &.no-video {
      p {
        display: block;
      }
    }
  }
}

.upload-wrapper {
  width: 100%;
  position: relative;
  cursor: pointer;

  label {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white !important;
    background-color: transparent;
    cursor: pointer;
  }

  input {
    opacity: 0;
    width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
  }
}
